#lens{
    width: 40px;
    height: 40px;
}
body{
    background-color: grey;
}
#bottle{
  width:200px;
  height:400px;
  border-radius:5px;  
}
#air_conditioner{
  width:500px;
  height:200px;
}
#laptop{
  border-radius: 9px;
}
#remote{
  width:100px;
  height:400px;
  border-radius: 9px;
}
#pencil_box{
  width:200px;
  height: 300px;
  border-radius:9px;
}
#copy{
  width:200px;
  height: 300px;
  border-radius:9px; 
}
